/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .nosFont {
  font-size: 18px;
 }

.s-svg{
  width: 25px;
}
 .soc-pad{
  margin-bottom: 0px;
 }

 .pad-col{
 padding: 0 !important;
 line-height: 0;

 }
.titulo {
  font-family: "butler";

}

.fMenu{
  background-color: #4b3719 !important;

}
.tMenu {
  color:#4b3719;
}
.iMenu{
  background-color: #58595b;
  color:#dcb363; 
}

.mTop{
  margin-top: -1em;
  padding-top: 1em;
}
.mmTop{
  margin-top: -1.5em;
  padding-top: 3em;
  padding-bottom: 1.5em;
}
.mBot{
  margin-bottom: -1.2em;

}
.dPad{
  padding-bottom: 1em;
}

.mBott{
  margin-bottom: 0;
}

.fColor{
  color: #4b3719;
  font-size: 1.5em;
}

.pPad{
   padding: 0 !important;

}
body{
  font-family: "butler";
}

@font-face{
  font-family: 'butler';
  src: url('../fonts/Bodoni 72.ttc');
  font-weight: normal;
}


 a {
  text-decoration-color: none;
  color: white;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 75%;
  }
}



/*    -------    */


/* .fondoMenu {
  background-image: url("../images/fondoMenu.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}*/

h5 { 
 font-size: 1.3em; }

 table.highlight > tbody > tr:hover {
  background-color: #ffe082;
}

.nosotros {
  height: auto;
}

nav ul a,
nav .brand-logo {
  color: white;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: 50em;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}